body{
    background: rgb(63,251,104);
    background: radial-gradient(circle, rgba(63,251,104,1) 0%, rgba(252,207,70,1) 100%);
    font-family: sans-serif;
    color: white;
}

main{
    width: 730px;
    margin: 30px auto;
    display: flex;
    align-items: center;
}

.section1{
    background-color: rgba(255,255,255,0.2);
    padding: 0px 10px 10px 10px;
    border-radius: 8px;
}

button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    /*background: url('./img/pregunta.png');*/
    font-weight: bold;
}

h1{
    text-align: center;
}

button:hover{
    cursor: pointer;
}

.section2{
    background-color: rgba(255,255,255,0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 450px;
    padding: 0 20px;
}

.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
img{
    width: 80%;
}

/*@media screen and (max-width: 500px){
    main{
        display: auto;
    }
}*/
